src/components/Home.css

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .link-container a {
    display: block;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-container a:hover {
    background-color: #2980b9;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .link-container {
      margin-top: 10px;
    }
  }
  